@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600&display=swap');





body {
    background: #2E2E2E;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Manrope',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
